<%- include('../partials/header') %>

    <form action="/skills" method="POST" autocomplete="off">
        <label for="skill">Skill</label>
        <input type="text" name="skill">
        <label for="level">Level</label>
        <input type="text" name="level">
        <button type="submit">Save New Skill</button>
    </form>

<%- include('../partials/footer') %>